/*淡白色:#f9f9f9*/
.highlight { 
  font-size: 13px; 
  background-color: #f9f9f9;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  margin: 20px 0 20px 0;
  overflow: scroll; }
div.highlight code { padding: 0; }
div.highlight .sb { color: #b8132c } /* Literal.String.Backtick */
div.highlight .sc { color: #b8132c } /* Literal.String.Char */
div.highlight .sd { color: #b8132c } /* Literal.String.Doc */
div.highlight .s2 { color: #b8132c } /* Literal.String.Double */