<!DOCTYPE html>
<html lang="en" data-theme="dark-poole">
  {% include head.html %}

  <body>
    {% include header.html %}

    {{ content }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NVFY4EE4HQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NVFY4EE4HQ');
</script>

    {% if site.google_ads %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google_ads }}"
     crossorigin="anonymous"></script>
    {% endif %}

  </body>
</html>
